# Introduction to SQLAlchemy
This is an introduction to SQLAlchemy
Ensure you have installed sqlalchemy and the appropriate connector for your database.
* sudo pip3 install sqlalchemy
* sudo pip3 install mysql-connector

In [13]:
# Check verion of SQLAlchemy
import sqlalchemy
sqlalchemy.__version__

'1.2.18'

# Connecting to MySQL
We will connect to the MySQL database ormintro

In [14]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:pibank@localhost/ormintro', echo=True)

# Declaring a Mapping
Use a Declarative to define a class.  This will define the table metadata.

In [21]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(60))
    fullname = Column(String(60))
    nickname = Column(String(60))
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (self.name, self.fullname, self.nickname)

# Create a Schema
The below command shows us the metadata

In [22]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=60), table=<users>), Column('fullname', String(length=60), table=<users>), Column('nickname', String(length=60), table=<users>), schema=None)

# Create table
Using our metadata it is possible to create the table

In [23]:
Base.metadata.create_all(engine)

2019-02-24 19:05:30,262 INFO sqlalchemy.engine.base.Engine DESCRIBE `users`
2019-02-24 19:05:30,268 INFO sqlalchemy.engine.base.Engine {}
2019-02-24 19:05:30,278 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-02-24 19:05:30,289 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(60),
	fullname VARCHAR(60),
	nickname VARCHAR(60),
	PRIMARY KEY (id)
)


2019-02-24 19:05:30,293 INFO sqlalchemy.engine.base.Engine {}
2019-02-24 19:05:35,557 INFO sqlalchemy.engine.base.Engine COMMIT

# Create an Instance of the mapped class

In [26]:
john_doe = User(name='john', fullname='john doe', nickname='test')

Now we can display the user

In [28]:
print(john_doe.name)
print(john_doe.nickname)
print(john_doe.fullname)
print(str(john_doe.id))

john
test
None